.rotating-content {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 40px;
    color: #44ccff;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.rotating-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    width: 30%;
    overflow: hidden;
    padding: 0 20px;
    font-weight: 600;
}

.rotating-container::before,
.rotating-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background: transparent;
}

.rotating-text {
    display: inline;
}

.rotating-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 120px;
    top: 0;
    animation: rotateWords 10s infinite;
}

.rotating-item {
    height: 40px;
    line-height: 40px;
    margin: 0;
}

@keyframes rotateWords {
    0%,
    8.25%,
    100% {
        transform: translateY(0);
    }
    10.75%,
    17% {
        transform: translateY(-40px);
    }
    19.5%,
    25.75% {
        transform: translateY(-80px);
    }
    28.25%,
    34.5% {
        transform: translateY(-120px);
    }
    37%,
    43.25% {
        transform: translateY(-160px);
    }
    45.75%,
    52% {
        transform: translateY(-200px);
    }
    54.5%,
    60.75% {
        transform: translateY(-240px);
    }
    63.25%,
    69.5% {
        transform: translateY(-280px);
    }
    72%,
    78.25% {
        transform: translateY(-240px);
    }
    80.75%,
    87% {
        transform: translateY(-200px);
    }
    89.5%,
    95.75% {
        transform: translateY(-160px);
    }
    98.25% {
        transform: translateY(-120px);
    }
}

@media screen and (max-width: 768px) {
    .rotating-container {
        width: 80%;
    }
}
